body {
    margin: 0px;
    background-color: rgb(77, 176, 223);
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: underline;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.white {
    background-color: white;
    height: 500px;
    width: 322px;
    margin-top: 25px;
    padding: 20px;
}

.choose {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
}

.scannen,
.create {
    margin-top: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.scannen:hover,
.create:hover {
    background-color: rgb(243, 237, 237);
}

.create {
    border-right: none;
}

.Middle {
    display: flex;
    justify-content: center;
}

.url {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: 1px solid black;
    width: 300px;
}

button {
    cursor: pointer;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    width: 150px;
    margin-top: 25px;
    background-color: yellow;
}

button:hover {
    background-color: rgb(248, 248, 7);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.successful {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 184, 3);
    font-size: 23px;
}

.red {
    color: red;
}
